In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('../data/amazon_delivery.csv')  # Use a relative path if the file is in the 'data' folder within the project directory

In [6]:
print("Original Data:")
print(data.head())

Original Data:
        Order_ID  Agent_Age  Agent_Rating  Store_Latitude  Store_Longitude  \
0  ialx566343618         37           4.9       22.745049        75.892471
1  akqg208421122         34           4.5       12.913041        77.683237
2  njpu434582536         23           4.4       12.914264        77.678400
3  rjto796129700         38           4.7       11.003669        76.976494
4  zguw716275638         32           4.6       12.972793        80.249982

   Drop_Latitude  Drop_Longitude  Order_Date Order_Time Pickup_Time  \
0      22.765049       75.912471  2022-03-19   11:30:00    11:45:00
1      13.043041       77.813237  2022-03-25   19:45:00    19:50:00
2      12.924264       77.688400  2022-03-19   08:30:00    08:45:00
3      11.053669       77.026494  2022-04-05   18:00:00    18:10:00
4      13.012793       80.289982  2022-03-26   13:30:00    13:45:00

      Weather  Traffic      Vehicle            Area  Delivery_Time  \
0       Sunny    High   motorcycle           Urban             120
1      Stormy     Jam      scooter   Metropolitian             165
2  Sandstorms     Low   motorcycle           Urban             130
3       Sunny  Medium   motorcycle   Metropolitian             105
4      Cloudy    High      scooter   Metropolitian             150

      Category
0     Clothing
1  Electronics
2       Sports
3    Cosmetics
4         Toys

In [7]:
data_cleaned = data.dropna().drop_duplicates()

In [8]:
data_cleaned.to_csv('../data/cleaned_data.csv', index=False)

In [9]:
print("\nCleaned data saved as 'cleaned_data.csv'")

Cleaned data saved as 'cleaned_data.csv'